
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
    <table class="details-table">
  <tr>
    <th>Registration Number</th>
    <td>D20250294947002575</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>RIMA DEVI</td>
  </tr>
  <tr>
    <th>Date of Death</th>
    <td>29-01-2025</td>
  </tr>
  <tr>
    <th>Mother's Name</th>
    <td>MUNNI DEVI</td>
  </tr>
  <tr>
    <th>Mother's Aadhaar No</th>
    <td>XXXXXXXXXXXX</td>
  </tr>
  <tr>
    <th>Father's Name</th>
    <td>SAKALDEV</td>
  </tr>
  <tr>
    <th>Father's Aadhaar No</th>
    <td>XXXXXXXXXXXX</td>
  </tr>
  <tr>
    <th>Husband/Wife Name</th>
    <td>SHANKAR BAITHA</td>
  </tr>
  <tr>
    <th>Husband/Wife Aadhaar No</th>
    <td>XXXXXXXX2067</td>
  </tr>
  <tr>
    <th>Place of Death</th>
    <td>IMILIYA SUGAULI WEST CHAMPARAN 845455</td>
  </tr>
  <tr>
    <th>Address of Deceased at the Time of Death</th>
    <td>SHERAHWA MURLI WEST CHAMPARAN 845103</td>
  </tr>
  <tr>
    <th>Permanent Address of Deceased</th>
    <td>SHERAHWA MURLI WEST CHAMPARAN 845103</td>
  </tr>
  <tr>
    <th>Sex</th>
    <td>FEMALE</td>
  </tr>
  <tr>
    <th>Date of Registration</th>
    <td>08-02-2025</td>
  </tr>
  <tr>
    <th>Registration Unit Name</th>
    <td>IMILIYA SUGAULI</td>
  </tr>
  <tr>
    <th>Registration Unit Code</th>
    <td>38104</td>
  </tr>
  <tr>
    <th>Remarks (if any)</th>
    <td>----</td>
  </tr>
  <tr>
    <th>Date of Issue</th>
    <td>13-01-2025</td>
  </tr>
  <tr>
    <th>Updated On</th>
    <td>07-01-2025</td>
  </tr>
  <tr>
    <th>Issuing Authority</th>
    <td>BETTIAH, BIHAR <br> BRIJESH RAM</td>
  </tr>
</table>




    
  </div>
<%- include("partial/footer") %>


</body>
</html>
